canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  background-image: url("./img/background.png");
  background-size: cover;
  display: block;
  width: 90%;
  height: 90%;
}

html {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

p {
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

.play_screen {
  width: 90%;
  height: 90%;
}
